@import url('satoshi.css');

:root {
    --black_main: #212121;
    --black_secondary: #0c0c0c;
    --darkBlue_main: #00447c;
    --darkBlue_secondary: #002756;
    --blue_main: #0b7b9e;
    --blue_secondary: #035b7a;
    --beige_main: #dddace;
    --beige_secondary: #c6c3b6;
    --white_main: #f2f3f4;
    --white_secondary: #eaeaea;
}


/* Basic nastavení */
body {
    background-color: var(--white_secondary);

    width: 100%;

    font-family: "Satoshi-Variable", sans-serif; 
    font-weight: 600;
}

/* Navbar */
.off-screen-menu {
    background-color: var(--white_main);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .4s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu ul {
    color: var(--black_main);
    text-align: center;
}

.off-screen-menu li:hover {
    color: var(--black_main);
    text-decoration: underline 4px;
    font-weight: 900;
    cursor: pointer;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: var(--beige_main);

    width: 100vw;
    position: fixed;
    z-index: 1000;

    font-weight: 900;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    color: var(--blue_secondary);
    width: 20rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    font-size: 2rem;

    cursor: pointer;
}

.menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: 3rem;
    position: relative;

    cursor: pointer;
}

.menu span {
    height: 5px;
    width: 100%;
    background-color: var(--black_secondary);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s ease-out;
}

.menu span:nth-child(1) {
    top: 25%;
}

.menu span:nth-child(3) {
    top: 75%;
}

.menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu.active span:nth-child(2) {
    opacity: 0;
}

.menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* main 3D model*/
#container3D canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 400px) {
    .logo {
        width: 10rem;
    }

}