@import url('satoshi.css');

:root {
    --black_main: #212121;
    --black_secondary: #0c0c0c;
    --darkBlue_main: #00447c;
    --darkBlue_secondary: #002756;
    --blue_main: #0b7b9e;
    --blue_secondary: #035b7a;
    --beige_main: #dddace;
    --beige_secondary: #c6c3b6;
    --white_main: #f2f3f4;
    --white_secondary: #eaeaea;
}


/* Basic nastavení */
body {
    background-color: var(--white_secondary);

    width: 100%;

    font-family: "Satoshi-Variable", sans-serif; 
}
